body{
    background: url('pics/BACKGROUND.jpg') top/cover no-repeat;
}
.fixed-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin: 0 auto;
    border-bottom: 3px solid #000000;
    background: url('pics/greenRadient.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
  }
.wpImg{
    height: 80%;
    margin-left: 2%;
    margin-right: 15%;
}
.text{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
 .men-div{
    height: 10%;
    width: 80%;
    position: absolute;
    top: 15%;
    left: 10%;
    background: url('pics/men.jpg') center/cover no-repeat;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
    transition: 0.5s;
 }
 .men-txt,
 .women-txt,
 .kid-txt,
 .pendant-txt,
 .ring-txt,
 .matching-txt,
 .more-txt{
    position: relative;
    color: white;
    font-family: arial;
    font-weight: bold;
    top: 15%;
    text-align: center;
    text-shadow: 0 0 2px black;
 }
 .men-div:hover{
    top: 15.5%;
    left: 15%;
    height: 9%;
    width: 70%;
 }
 .women-div{
    height: 10%;
    width: 80%;
    position: absolute;
    top: 27%;
    left: 10%;
    background: url('pics/women.jpg') center/cover no-repeat;
    background-size: 100% 250%;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
    transition: 0.5s;
 }
 .women-div:hover{
    top: 27.5%;
    left: 15%;
    height: 9%;
    width: 70%;
 }
 .kid-div{
    height: 10%;
    width: 80%;
    position: absolute;
    top: 39%;
    left: 10%;
    background: url('pics/kid.jpg') bottom/cover no-repeat;
    background-size: 100% 250%;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
    transition: 0.5s;
 }
 .kid-div:hover{
    top: 39.5%;
    left: 15%;
    height: 9%;
    width: 70%;
 }
 .pendant-div{
    height: 10%;
    width: 80%;
    position: absolute;
    top: 51%;
    left: 10%;
    background: url('pics/pendants.jpg') bottom/cover no-repeat;
    background-size: 100% 200%;
    background-position-y: 75%;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
    transition: 0.5s;
 }
 .pendant-div:hover{
    top: 51.5%;
    left: 15%;
    height: 9%;
    width: 70%;
 }
 .ring-div{
    height: 10%;
    width: 80%;
    position: absolute;
    top: 64%;
    left: 10%;
    background: url('pics/rings.jpg') bottom/cover no-repeat;
    background-size: 100% 210%;
    background-position-y: 75%;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
    transition: 0.5s;
 }
 .ring-div:hover{
    top: 64.5%;
    left: 15%;
    height: 9%;
    width: 70%;
 }
 .matching-div{
   height: 10%;
   width: 80%;
   position: absolute;
   top: 77%;
   left: 10%;
   background: url('') bottom/cover no-repeat;
   background-size: 100% 210%;
   background-position-y: 75%;
   box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
   transition: 0.5s;
}
.matching-div:hover{
   top: 77.5%;
   left: 15%;
   height: 9%;
   width: 70%;
}
.more-div{
   height: 10%;
   width: 80%;
   position: absolute;
   top: 90%;
   left: 10%;
   background: url('pics/more.jpg') bottom/cover no-repeat;
   background-size: 100% 210%;
   background-position-y: 75%;
   box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
   transition: 0.5s;
}
.more-div:hover{
   top: 90.5%;
   left: 15%;
   height: 9%;
   width: 70%;
}